<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bodywrite">
    <dir class="win">
        <h1 class="homeh1">Welcome to the ConsoleToGui web site</h1>
        <p class="homeh1">When do you get started ?</p>
        <a href="{{ url_for('login') }}">
            <button class="button">Now get started</button>
        </a>
    </dir>
</body>
</html>